[user]
	name = Cliff Flood
   email = cliph@cli.ph

[color]
   ui = auto

[core]
   editor = vim
   whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
   excludesfile = ~/.gitignore

[github]
   user = cliph

[alias]
   s = status

[push]
   default = matching

[cameronroberts.ca]
   user = cliff
